<div class="paginate">
	<div class="left">
		<% if @product_inventories %>
		<span><strong><%= @product_inventories.size %></strong> produto(s) encontrado(s).</span>
		<% end %>		
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<form method="post">	
	<table id="product_inventories" class="grid no_hand">
		<tbody>
		<% if @product_inventories.size > 0 %>
			<% @product_inventories.each do |product_inventory| %>
			<tr>
				<td style="padding: 1em 0 1em 1em;">					
					<div style="display: block; border-style: solid;">
						<a href="<%= product_inventory_path(product_inventory) %>" style="margin-right: 10px; float: left;" >			
							<%= image_tag product_inventory.product.attachment.url(:micro), :alt => product_inventory.product.name, 
								:width => 32, :height => 32, :class => "avatar",
								:styles => "max-height:64px; max-width:64px;" %>
						</a>
						<% bar = "progressbar_#{product_inventory.id}"%>									
						<div style="width: 100px; text-align: right; margin-top: 0px; margin-right: 14px; padding-left: 12px; float: right;">	
							<div>Dispon&iacute;vel: <%= number_with_delimiter(product_inventory.count) %></div>								
							<div id="<%= bar %>"></div>
							
						</div>						
						<script>
							$(function() {
								$( "#<%= bar %>" ).progressbar({
									value: <%= product_inventory.availability %>
								});
							});			
						</script>

						
						<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
							<span style="color: #333333;">
								<% if product_inventory.out_of_stock? %>
								<%= link_to product_inventory.product.name, product_inventory, :style => "color: red;" %> (em falta)	
								<% else %>
								<%= link_to product_inventory.product.name, product_inventory %>
								<% end %>
							</span>
							<div style="color: #808080; font-size: 11px;">								
								<%= ( product_inventory.product.description.blank? ? '(sem descrição)' :  product_inventory.product.description ) %>
							</div>
							
													
							<!--						
							<div style="color: '#333333'; font-size: 16px; padding-top: 12px;">								
								Dispon&iacute;vel: <%= number_with_delimiter(product_inventory.count) %> unid.
							</div>	
							-->										
					  </div>
					</div>			
				</td>
			</tr>				
			<% end %>
			
		<% else %>
			<tr>
				<td style="padding: 1em 0 1em 1em; width: 603px;"> 
					<div style="display: block;">Nenhum resultado encontrado para a sua consulta.</div>
				</td>					
			</tr>
		<% end %>
		</tbody>
	</table>
</form>

<div class="paginate bottom">
	<div class="left">
		<a class="back_to_top" href="#content">
			<div class="to_top_icon"></div>
			<strong>voltar ao topo</strong>
			<div class="clear"></div>
		</a>
	</div>
	<div class="right"><%= will_paginate(@product_inventories, :previous_label => "&#171; #{t('actions.previous')}", :next_label => "#{t('actions.next')} &#187;") %></div>
	<div class="clear"></div>
</div>
