<%= javascript_include_tag 'views/product_inventories/index' %>
<h2>
	Controle de Estoques
	<em class="heading_description">Produtos disponíveis no estoque</em>
</h2>
<p>
	Adicione produtos indicando as quantidades máximas, mínimas e o total que voc&ecirc; possui no seu <b>estoque pessoal</b>.
</p>

<%= form_tag product_inventories_path, :method => "get", :id => "product_inventories_search" do %>	
<div class="horizontal_list_selection">
	<%= hidden_field_tag :list, params[:list] %>
	<a href="/product_inventories" class="select_button left_selector <%= 'current_view' unless params[:list] == 'out_of_stock' %>">Todos</a>			
	<a href="/product_inventories?list=out_of_stock" class="select_button right_selector  <%= 'current_view' if params[:list] == 'out_of_stock' %>">Faltando</a>
	<!--
	<a href="#" class="select_button right_selector %>">Sobrando</a>
	-->
	
	<div class="search">
		<div class="search_wrapper">
			<div class="search_icon"><img src="/images/basic/loupe.png" alt="Loupe"></div>			
			<%= text_field_tag :search, params[:search], :class =>  "search_field thin", :autocomplete => "off" %>
		</div>
		<div id="loading" class="hide" style="display: none;"><img src="/images/basic/loader.png?1302297477" alt="Loader"></div>
		<div class="clear"></div>	
	</div>
	<div class="clear"></div>
	
</div>
<% end %>


<div id="product_inventories">
	<%= render :partial => 'product_inventories' %>
</div>

<br />
<br />


