<% if @profile.errors.any? %>
<div id="error_explanation">	
	<ul>
		<% @profile.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="clear"></div>

<%= form_for @profile, :html => { :multipart => true }  do |f| %>
	<div class="editor_area">
		<div id="profile_editor_label" class="editor_label">
			<div class="alignleft">Perfil</div>
			<div class="alignright">
				<a id="show_profile_table" style="display: none">editar</a>
				<a id="hide_profile_table" style="">ocultar</a>
			</div>
		</div>	
	
		<table id="profile_editor_table" class="editor_table" style="">
			<tbody>
				<tr>
					<td class="label">Foto</td>
					<td><a class="avatar" href="#"><%= image_tag @profile.avatar.url(:thumb), :alt => @profile.name %></a></td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>												
						<%= f.file_field :avatar %>
						<span class="checkbox_span"><small>Tamanho máximo de 10Mb.  JPG, GIF, PNG.</small></span>
					</td>
				</tr>
				<tr>
					<td class="label">Nome</td>
					<td><%= f.text_field :name, :size => 30 %></td>
				</tr>
				<tr>
					<td class="label">C&oacute;digo Mary Kay</td>
					<td><%= f.text_field :code, :size => 30 %></td>
				</tr>
				<tr>
					<td class="label">N&iacute;vel de Carreira</td>
					<td><%= f.text_field :position, :size => 30 %></td>
					<span class="checkbox_span"><small>Sugestão: Futura Diretora Executiva.</small></span>
				</tr>
				<tr>
					<td class="label">&Aacute;rea Nacional</td>
					<td><%= f.text_field :area, :size => 30 %></td>
					<span class="checkbox_span"><small>Sugestão: Futura Diretora Executiva.</small></span>
				</tr>
				<tr>
					<td class="label">Local</td>
					<td><%= f.text_field :location, :size => 30 %></td>
				</tr>
				<tr>
					<td class="label">Biografia</td>
					<td><%= f.text_area :biography, :cols => 45, :rows => 2 %></td>
				</tr>
				<tr>
					<td class="label">Data de Nascimento</td>
					<td><%= f.date_select :date_of_birth, :order => [:day, :month, :year], 
						:include_blank => true, :start_year => (Time.now.year - 100) %>
					</td>
				</tr>
				<tr>
					<td class="label">Telefone</td>
					<td><%= f.text_field :telephone, :size => 30 %></td>
				</tr>										
				<tr>
					<td class="label">Celular</td>
					<td><%= f.text_field :mobile_phone, :size => 30 %></td>
				</tr>
													
				<tr>
					<td class="label">Fuso Hor&aacute;rio</td>
					<td><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, :default => 'Brasilia' %></td>
				</tr>								
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" class="inputsubmit">
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->
		
		<div id="profile_editor_desc" class="clear" style="display: none">			
			<div class="alignleft">Nome</div>
			<div class="alignright"><%= @profile.name %></div>
			<div class="clear"></div>
			<% if @profile.date_of_birth %>
			<div class="alignleft">Data de Nascimento</div>
			<div class="alignright"><%= l(@profile.date_of_birth, :format => '%A, %d de %B') %></div>
			<div class="clear"></div>
			<% end %>			
			
			<% if not @profile.telephone.blank? %>
			<div class="alignleft">Telefone</div>
			<div class="alignright"><%= @profile.telephone %></div>
			<div class="clear"></div>
			<% end %>
			<% if not @profile.mobile_phone.blank? %>
			<div class="alignleft">Celular</div>
			<div class="alignright"><%= @profile.mobile_phone %></div>
			<div class="clear"></div>
			<% end %>			
		</div>
		<!-- Fim do Formulario Perfil do Cliente -->
	
		<div class="clear"></div>		
	</div>
	

	
<% end %>