<div class="paginate">
	<div class="left">
		<% if @profiles %>
		<span><strong><%= @profiles.size %></strong> consultora(s) encontrada(s).</span>
		<% end %>
		<!--
		<a class="hide small_button delete_profiles" href="#">Excluir selecionados</a>
		-->
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<form method="post">	
	<table id="profiles" class="grid no_hand">
		<tbody>
		<% if @profiles.size > 0 %>
			<% @profiles.each do |profile| %>
			<tr>
				<td style="width:48px; padding: 1em 0 1em 1em;;">
					<input type="checkbox">
				</td>					
				<td style="width:48px; padding: 0.5em 1em" class="table_image">
					<div style="width:42px; max-width:42px;" class="table_image_wrapper">
						<a style="display:block;" href="<%= profile_path(profile) %>">							
							<%= image_tag profile.avatar.url(:micro), :alt => profile.name, 
								:width => 32, :height => 32, :class => "avatar",
								:styles => "max-height:32px; max-width:32px;" %>
						</a>
					</div>
				</td>				
				<td style="width:200px;">				
					<%= link_to profile.name, profile_path(profile), :style => "width: 200px; float:left; font-size: 14px; font-weight: bold;" %>																	
				</td>			
				<td style="width:100%; ">
					<a style="display:block; float:right;" href="<%= profile_path(profile) %>">
						<%= profile.position %>
					</a>
				</td>
			</tr>
			<% end %>
		<% else %>
			<tr>
				<td style="padding: 1em 0 1em 1em; width: 603px;"> 
					<div style="display: block;">Nenhum resultado encontrado para a sua consulta.</div>
				</td>					
			</tr>
		<% end %>
		</tbody>
	</table>
</form>

<div class="paginate bottom">
	<div class="left">
		<a class="back_to_top" href="#content">
			<div class="to_top_icon"></div>
			<strong>voltar ao topo</strong>
			<div class="clear"></div>
		</a>
	</div>
	<div class="right"><%= will_paginate(@profiles, :previous_label => "&#171; #{t('actions.previous')}", :next_label => "#{t('actions.next')} &#187;") %></div>
	<div class="clear"></div>
</div>
