<div class="paginate">
	<div class="left">
		<% if @birthdays %>
		<span><strong><%= l(Time.zone.now, :format => "%A, %d de %B de %Y") %></strong></span>
		<% end %>		
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<table class="grid no_hand">
<% if @birthdays.size > 0 %>
	<tbody>
		<% @birthdays.each do |contact| %>
		<tr>	
			<td style="padding: 1em 0 1em 1em;">					
				<div style="display: block; border-style: solid;">
					<a href="<%= contact_path(contact) %>" style="margin-right: 10px; float: left;">					
						<%= image_tag contact.avatar.url(:micro), :alt => contact.name, 
								:width => 32, :height => 32, :class => "avatar",
								:styles => "max-height:32px; max-width:32px;" %>				
					</a>						
					
					<!--				
					<div style="text-align: right; margin-top: 8px; padding-left: 12px; float: right;">						
						<a href="#" class="button_info" style="">
							<span>Criar lembrete</span>
						</a>						
					</div>
					-->
					
					<% if Time.zone.now.day == contact.date_of_birth.day && Time.zone.now.month == contact.date_of_birth.month %>					
					<div style="text-align: right; margin-top: 4px; padding-left: 12px; padding-right: 12px; float: right;">						
						<img src="/images/basic/birthday_32.png">				
					</div>
					<% end %>
					
					<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
						<span style="color: #333333;">					
							<%= link_to contact.name, edit_contact_path(contact) %>	
							
						</span>
						<div style="color: #808080; font-size: 11px;">								
							<%= l(contact.date_of_birth, :format => :short).strip() %>								
						</div>										
				  </div>
				</div>			
			</td>														
		</tr>
		<% end %>
	<% else %>
		<tr>
			<td style="padding: 1em 0 1em 1em; width: 603px;"> 
				<div style="display: block;">Nenhum aniversariante para este m&ecirc;s.</div>
			</td>					
		</tr>
	<% end %>
	</tbody>
</table>


<div class="paginate bottom">
	<div class="left">
		&nbsp;
	</div>
	<div class="right">
		<%= will_paginate(@birthdays, :previous_label => "&#171; #{t('actions.previous')}", :next_label => "#{t('actions.next')} &#187;") %></div>
		<div class="clear">
	</div>
	<div class="clear"></div>
</div>