<div class="paginate">
	<div class="left">
		<% if @reminders %>
		<span><strong><%= l(Time.zone.now, :format => "%A, %d de %B de %Y") %></strong></span>
		<% end %>		
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<table class="grid no_hand">
<% if @reminders.size > 0 %>
	<tbody>
		<% @reminders.each do |reminder| %>
		<tr>	
			<td style="padding: 1em 0 1em 1em;">					
				<div style="display: block; border-style: solid;">
					<a style="margin-right: 10px; float: left;">
					<% if reminder.confirmed %>
						<img src="/images/basic/tick_32.png" style="display: block;">
					<% else %>
						<% if reminder.is_due %>
						<img src="/images/basic/stop_32.png" style="display: block;">
						<% else %>
						<img src="/images/basic/clock_32.png" style="display: block;">
						<% end %>
					<% end %>
					</a>						
					<div style="text-align: right; margin-top: 8px; padding-left: 12px; float: right;">
						<% unless reminder.confirmed %>
						<a href="<%= confirm_reminder_path(reminder.id) %>" class="button_info" style="">
							<span>Confirmar</span>
						</a>
						<% end %>							
					</div>
					
					<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
						<span style="color: #333333;">
							<% unless reminder.is_due %>
							<%= link_to reminder.title, edit_reminder_path(reminder) %>
							<% else %>								
							<%= link_to reminder.title, edit_reminder_path(reminder), :style => "color: red;" %> (atrasado)					
							<% end %>
						</span>
						<div style="color: #808080; font-size: 11px;">								
							<%= l(reminder.scheduled_at, :format => :long).strip() %>								
						</div>										
				  </div>
				</div>			
			</td>														
		</tr>
		<% end %>
	<% else %>
		<tr>
			<td style="padding: 1em 0 1em 1em; width: 603px;"> 
				<div style="display: block;">Nenhum lembrete agendado.</div>
			</td>					
		</tr>
	<% end %>
	</tbody>
</table>


<div class="paginate bottom">
	<div class="left">
		
	</div>
	<div class="right">
		<div class="pagination">
			<a class="next_page" href="/reminders">Ir para p&aacute;gina &#187;</a>
		</div>
	</div>
	<div class="clear"></div>
</div>