<br />
<br />
<br />

<div class="alignleft">
	<%- if controller_name != 'sessions' %>
	  <%= link_to "Eu já tenho uma conta", new_session_path(resource_name), :class => "button_danger" %>
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <%= link_to "Criar uma nova conta", new_registration_path(resource_name), :class => "button_info" %>
	<% end -%>

	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>	  
	  <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), :class => "button_info" %>
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <%= link_to "Não recebeu as instruções de confirmação?", new_confirmation_path(resource_name) %>
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>	
	<% end -%>
	
	<div class="clear"></clear>
</div>


<br />
<br />
<br />
<br />

