<h2>
	Lista de Lembretes
	<em class="heading_description">Lembretes agendados</em>
</h2>
<p>
	Adicione novos lembretes para criar seu <a href="#">gerenciamento de rotina</a>, priorize as <b>tarefas</b> que voc&ecirc; tem para realizar durante a semana.
</p>


<%= form_tag reminders_path, :method => "get", :id => "reminders_search" do %>	
<div class="horizontal_list_selection">
	
	<a id="" href="/reminders" class="select_button left_selector <%= 'current_view' unless params[:status] %>">Todos</a>
	<a id="" href="/reminders?status=due" class="select_button right_selector <%= 'current_view' if params[:status] == 'due' %>">Atrasados</a>		

	<div class="search">
		<div class="search_wrapper">
			<div class="search_icon"><img src="/images/basic/loupe.png" alt="Loupe"></div>		
			<% 	params[:scheduled_at] ||= localize(@yesterday, :format => t("date.formats.default")) %>
			<%= text_field_tag :search, params[:search], :class =>  "search_field thin", :autocomplete => "off", :style => "width: 10em;" %>
			<% unless params[:status] == 'due' %>
			<%= text_field_tag :scheduled_at, params[:scheduled_at], :class =>  "search_field thin datepicker", :autocomplete => "off", :size => 9, :style => "width: 82px; margin-left: 4px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-style: solid solid solid solid; border-width: 1px 1px 1px 1px;" %>			
			<script>
				$(function() {
					$( "#scheduled_at" ).datepicker({
						dateFormat: 'dd/mm/yy',
						defaultDate: "+1w",
						changeMonth: true,
						changeYear: false
					})
				});	
			</script>
			<% end %>
		</div>
		<div id="loading" class="hide" style="display: none;"><img src="/images/basic/loader.png?1302297477" alt="Loader"></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	
</div>
<% end %>


<div id="overdue_reminders">
	<%= render :partial => 'overdue_reminders' %>
</div>

<% unless params[:status] == 'due' %>
<div id="reminders">
	<%= render :partial => 'reminders' %>
</div>
<% end %>

<br />
<br />
