<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reminder.title %>
</p>

<p>
  <b>Description:</b>
  <%= @reminder.description %>
</p>

<p>
  <b>Type:</b>
  <%= @reminder.type %>
</p>

<p>
  <b>Scheduled at:</b>
  <%= @reminder.scheduled_at %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
