<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, "E-mail" %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Enviar informações para criar nova senha" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>