<% if @event.errors.any? %>
<div id="error_explanation">	
	<ul>
		<% @event.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="clear"></div>

<%= form_for(@event) do |f| %>
	<div class="editor_area">
		<div id="event_editor_label" class="editor_label">
			<div class="alignleft">Informa&ccedil;&otilde;es sobre o Evento</div>
			<div class="alignright">
				<a id="show_event_table" style="display: none">editar</a>
				<a id="hide_event_table" style="display: ">ocultar</a>
			</div>
		</div>	
	
		<table id="event_editor_table" class="editor_table" style="display: ">
			<tbody>				
				<tr>
					<td class="label">T&iacute;tulo</td>
					<td><%= f.text_field :title, :size => 30, :autofocus => true %></td>
				</tr>				
				<tr>
					<td class="label">Dura&ccedil;&atilde;o</td>
					<td>					
						<span>								
							<%= f.text_field :start_at, 
								:value => ( @event.start_at ? localize(@event.start_at, :format => '%d/%m/%Y') : '' ),
								:class => 'datepicker', :size => 9, :autocomplete => false %> 
							<%= f.time_select :start_at, :minute_step => 10 %>
						</span>
						<span> at&eacute; </span>
						<span>
							<%= f.time_select :end_at, :minute_step => 10 %>
							<%= f.text_field :end_at, 
								:value => ( @event.end_at ? localize(@event.end_at, :format => '%d/%m/%Y') : '' ), 
								:class => 'datepicker', :size => 9, :autocomplete => false %> 

						</span>
						<%= render :partial => 'events/datepicker' %>					
					</td>
				</tr>
				<tr>
					<td class="label">Local</td>
					<td><%= f.text_field :location, :size => 30 %></td>
				</tr>
				<tr>
					<td class="label">Descri&ccedil;&atilde;o</td>
					<td><%= f.text_area :description, :cols => 45, :rows => 2 %></td>
				</tr>				
				<tr>
					<td class="label">Avalia&ccedil;&atilde;o</td>
					<td>
						<%= f.radio_button :evaluation, 'good' %>
						<%= f.label :evaluation_good, 'Muito Bom' %>
						<span class="checkbox_span"><small>O evento foi muito bom, consegui realizar boas vendas e bons contatos.</small></span>				
					</td>
				</tr>	
				<tr>
					<td class="label"></td>
					<td>
						<%= f.radio_button :evaluation, 'neutral' %>
						<%= f.label :evaluation_neutral, 'Neutro' %>
						<span class="checkbox_span"><small>O evento foi bom mas n&atilde;o consegui realizar muitas metas.</small></span>				
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= f.radio_button :evaluation, 'bad' %>
						<%= f.label :evaluation_bad, 'Ruim' %>
						<span class="checkbox_span"><small>O evento foi ruim, deu muita coisa errada.</small></span>				
					</td>
				</tr>
				
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" class="inputsubmit">
							<% if @event.persisted? %>
							<%= link_to 'Remover', @event, 
								:confirm => 'Você tem certeza que deseja remover este evento?', :method => :delete, 
								:class => "button_danger",
								:style => "padding: 9px 12px 7px 12px;" %>
							<% end %>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->
		
		<div id="event_editor_desc" class="clear" style="display: none;">			
			<div class="alignleft">Título</div>
			<div class="alignright"><%= @event.title %></div>
			<div class="clear"></div>
			<div class="alignleft">Data</div>
			<div class="alignright">De <%= l(@event.start_at, :format => "%A, %H:%M") %> at&eacute; <%= l(@event.end_at, :format => "%A, %H:%M") %></div>
			<div class="clear"></div>
			<% if not @event.location.blank? %>
			<div class="alignleft">Local</div>
			<div class="alignright"><%= @event.location %></div>
			<div class="clear"></div>
			<% end %>
			<% if not @event.description.blank? %>
			<div class="alignleft" style="color: #808080; font-size: 12px;"><%= simple_format(@event.description, :style => "margin-bottom: 0px;") %></div>
			<div class="clear"></div>
			<% end %>			
		</div>
		<!-- Fim do Formulario Perfil do Cliente -->
	
		<div class="clear"></div>
		
		
		<div id="event_team_editor_label" class="editor_label">
			<div class="alignleft">Informa&ccedil;&otilde;es para Equipe</div>
			<div class="alignright">
				<a id="show_event_team_table" style="display:">editar</a>
				<a id="hide_event_team_table" style="display: none">ocultar</a>
			</div>
		</div>	
	
		<table id="event_team_editor_table" class="editor_table" style="display: none">
			<tbody>				
				
				<tr>
					<td class="label">Exibir como</td>
					<td>
						<%= f.radio_button :show_as, 'busy' %>
						<%= f.label :show_as_busy, 'Ocupado' %>
						<span class="checkbox_span"><small>Para sua equipe seu status ficar&aacute; como Ocupado durante este per&iacute;odo.</small></span>				
					</td>
				</tr>	
				<tr>
					<td class="label"></td>
					<td>
						<%= f.radio_button :show_as, 'available' %>
						<%= f.label :show_as_available, 'Disponível' %>
						<span class="checkbox_span"><small>Para sua equipe seu status ficar&aacute; como Dispon&iacute;vel durante este per&iacute;odo.</small></span>				
					</td>
				</tr>
				<tr>
					<td class="label">Privacidade</td>
					<td>
						<%= f.radio_button :privacy, 'public' %>
						<%= f.label :privacy_public, 'Público' %>
						<span class="checkbox_span"><small>Outras pessoas podem ver este evento.</small></span>				
					</td>
				</tr>	
				<tr>
					<td class="label"></td>
					<td>
						<%= f.radio_button :privacy, 'private' %>
						<%= f.label :privacy_private, 'Privado' %>
						<span class="checkbox_span"><small>Somente voc&egrave; pode ver este evento.</small></span>				
					</td>
				</tr>			
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" class="inputsubmit">
							<% if @event.persisted? %>
							<%= link_to 'Remover', @event, 
								:confirm => 'Você tem certeza que deseja remover este evento?', :method => :delete, 
								:class => "button_danger",
								:style => "padding: 9px 12px 7px 12px;" %>
							<% end %>
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->
		
		<div id="event_team_editor_desc" class="clear" style="display: ;">			
			<div class="alignleft">Exibir como</div>
			<div class="alignright"><%= @event.show_as %></div>
			<div class="clear"></div>
			<div class="alignleft">Privacidade</div>
			<div class="alignright"><%= @event.privacy %></div>
			<div class="clear"></div>				
		</div>	
	
		<div class="clear"></div>		
	</div>	
<% end %>


<%= render :partial => 'events/form_script' %>
