<table class="index">
	<tr>
		<th><%= Order.human_attribute_name('created_at') %></th>
		<th><%= Contact.human_attribute_name('name') %></th>
		<th><%= Order.human_attribute_name('type') %></th>
		<th><%= Order.human_attribute_name('status') %></th>
		<th></th>
		<th></th>
	<tr>
	<% @orders.each do |order| %>
	<tr>
		<td><%= link_to order.created_at, edit_order_path(order) %></td>
		<td>
			<% if order.contact %>
				<%= link_to order.contact.name, edit_contact_path(contact) %>
			<% end %>
		</td>
		<td><%= order.type %></td>
		<td><%= order.status %></td>
		<td></td>
		<td></td>
	<tr>
	<% end %>
</table>
<%= will_paginate(@orders, :previous_label => "&#171; #{t('actions.previous')}", :next_label => "#{t('actions.next')} &#187;") %>