<div class="paginate">
	<div class="left">
		<% if @products %>
		<span><strong>Adicione os produtos ao pedido</strong></span>
		<% end %>		
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<form method="post">	
	<table id="products" class="grid no_hand">
		<tbody>
		<% if @products.size > 0 %>
			<% @products.each do |product| %>
			<tr>
				<td style="padding: 1em 0 1em 1em;">					
					<div style="display: block; border-style: solid;">
						<a href="<%= product_path(product) %>" style="margin-right: 10px; float: left;" >			
							<%= image_tag product.attachment.url(:micro), :alt => product.name, 
								:width => 32, :height => 32, :class => "avatar",
								:styles => "max-height:32px; max-width:32px;" %>
						</a>					
						<div class="shortcut" style="text-align: right; margin-top: 4px; padding-left: 12px; float: right;">						
							<a href="<%= new_order_path(:product_id => product) %>" class="button_info">
								<span><strong>+</strong></span>
							</a>
						</div>
						<div style="text-align: right; margin-top: 4px; padding-left: 12px; float: right; font-size: 18px;">						
							<%= number_to_currency(product.price) %>	
						</div>
						<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
							<span style="color: #333333;">
								<%= link_to "#{product.name} - #{product.sku}", product_path(product) %>
							</span>
							<div style="color: #808080; font-size: 11px;">
								<%= ( product.description.blank? ? 'sem descrição' : product.description ) %>
							</div>													
					  </div>
					</div>			
				</td>
			</tr>			
			<% end %>
		<% else %>
			<tr>
				<td style="padding: 1em 0 1em 1em; width: 603px;"> 
					<div style="display: block;">Nenhum resultado encontrado para a sua consulta.</div>
				</td>					
			</tr>
		<% end %>
		</tbody>
	</table>
</form>

<div class="paginate bottom">
	<div class="left">
		<a class="back_to_top" href="#content">
			<div class="to_top_icon"></div>
			<strong>voltar ao topo</strong>
			<div class="clear"></div>
		</a>
	</div>
	<div class="right"><%= will_paginate(@products, :previous_label => "&#171; #{t('actions.previous')}", :next_label => "#{t('actions.next')} &#187;") %></div>
	<div class="clear"></div>
</div>
