
<% if @order.order_type && @order.order_type == 'in' %>
<h2>
	Adicionar Pedido de Compra
	<em class="heading_description">Criar pedido de compra no fornecedor</em>
</h2>

<% else %>

	<h2>
		Adicionar Pedido de Venda
		<em class="heading_description">Criar pedido de venda para cliente</em>
	</h2>
	
	<p>
		Para criar um pedido de venda basta selecionar o nome da <b>cliente</b> e adicionar os <b>produtos</b> que voc&ecirc; deseja. N&atilde;o esque&ccedil;a de informar a quantidade e o preço de cada um deles. 
	</p>

	<% if @order.contact %>
			
	<div class="contact_editor_area">	
		<div style="display: block; border-style: solid;">
			<a style="margin-right: 10px; float: left;">
				<%= image_tag @order.contact.avatar.url(:thumb), :alt => @order.contact.name, 
				:style => "display: block; background-color: #FFFFFF; border: 1px solid #B2B2B2; padding: 2px;"%>

			</a>
			<div style="text-align: right; margin-top: 14px; padding-left: 12px; float: right;">		
				<a href="#" class="button">
					<span>Selecionar</span>
				</a>			
			</div>			
			<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
				<h3 style="color: #333333; margin-bottom: 4px;">
					<%= @order.contact.name %>
				</h3>
				<span style="color: #333333;" >
					<%= @order.contact.email %>&nbsp;
				</span>		
				<div style="color: #808080; margin-top: 12px;">								
					<%= "#{@order.contact.telephone} #{( @order.contact.telephone != '' && @order.contact.mobile_phone != '' ? '  |  ' : '' )} #{@order.contact.mobile_phone}" %>&nbsp;								
				</div>			
				<div style="color: #808080; font-size: 11px;">
					<%= @order.contact.address %>&nbsp;
				</div>							
		  </div>
		</div>
		<div class="clear"></div>
		<br />
	</div>
	<div class="clear"></div>
	
	<% else %>
	
	
	<div class="contact_editor_area">	
		<div style="display: block; border-style: solid;">
			<a style="margin-right: 10px; float: left;">				
				<img style="display: block; background-color: #FFFFFF; border: 1px solid #B2B2B2; padding: 2px;" src="/images/default-picture.png?1306475990" alt="Aline Paula">
			</a>			
			<div style="text-align: right; margin-top: 14px; padding-left: 12px; float: right;">		
				<a href="#" class="button">
					<span>Selecionar</span>
				</a>			
			</div>
			<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
				<h3 style="color: #333333; margin-bottom: 4px;">
					Selecione uma cliente
				</h3>
				<span style="color: #333333;" >
					E-mail&nbsp;
				</span>		
				<div style="color: #808080; margin-top: 12px;">								
					Telefone&nbsp;								
				</div>			
				<div style="color: #808080; font-size: 11px;">
					Endere&ccedil;o&nbsp;
				</div>							
		  </div>
		</div>
		<div class="clear"></div>
		<br />
	</div>
	<div class="clear"></div>
	
	
	<% end %>


<% end %>

<%= form_tag new_order_path, :method => :get,  :id => "products_search" do %>	
<div class="horizontal_list_selection">
	<%= hidden_field_tag :list, params[:list] %>
	<a href="/products" class="select_button left_selector <%= 'current_view' unless params[:list] == 'top' %>">Todos</a>		
	<a href="/products?list=top" class="select_button center_selector <%= 'current_view' if params[:list] == 'top' %>">Mais vendidos</a>
	<a href="/products?list=new" class="select_button right_selector %>">Lan&ccedil;amentos</a>
	
	<div class="search">
		<div class="search_wrapper">
			<div class="search_icon"><img src="/images/basic/loupe.png" alt="Loupe"></div>			
			<%= text_field_tag :search, params[:search], :class =>  "search_field thin", :autocomplete => "off" %>
		</div>
		<div id="loading" class="hide" style="display: none;"><img src="/images/basic/loader.png?1302297477" alt="Loader"></div>
		<div class="clear"></div>	
	</div>
	<div class="clear"></div>
	
</div>
<% end %>

<div id="products">	
	<%= render :partial => 'products' %>	
</div>
<br />
<br />

<div id="form">	
	<%= render :partial => 'form' %>	
</div>
<br />
<br />

<%= javascript_include_tag "views/orders/products" %>

