<div id="contact-call-form" title="Adicionar nova Ligação">
	<% @contact_call ||= @contact.contact_calls.build %>
	<%= form_for([@contact, @contact_call]) do |f| %>		
		<table class="editor_table" style="margin: 10px auto 10px; width: 300px;">
			<tbody>				
				<tr>
					<td class="label">Assunto</td>
					<td><%= f.text_field :topic, :size => 30, :autofocus => true %></td>
				</tr>				
				<tr>
					<td class="label">Dura&ccedil;&atilde;o</td>
					<td>									
						<span>								
							<%= f.text_field :called_at, 
								:value => ( @contact_call.called_at ? localize(@contact_call.called_at, :format => '%d/%m/%Y') : '' ),
								:class => 'datepicker', :size => 9, :autocomplete => false %> 
							<%= f.time_select :called_at, :minute_step => 10 %>

							durante <%= f.text_field :duraction, :size => 10, :style => "width: 20px;" %> 	minutos
						</span>						
						<script>
							
						</script>					

					</td>
				</tr>
				<tr>
					<td class="label">Avalia&ccedil;&atilde;o</td>
					<td>
						<%= f.radio_button :evaluation, 'good' %>
						<%= f.label :evaluation_good, 'Muito Boa' %>
						<span class="checkbox_span"><small>Sua conversa foi muito boa e o cliente se mostrou bastante disposto.</small></span>				
					</td>
				</tr>	
				<tr>
					<td class="label"></td>
					<td>
						<%= f.radio_button :evaluation, 'neutral' %>
						<%= f.label :evaluation_neutral, 'Neutro' %>
						<span class="checkbox_span"><small>Sua conversa n&atilde;o foi muito boa por&eacute;m atingiu o objetivo esperado.</small></span>				
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= f.radio_button :evaluation, 'bad' %>
						<%= f.label :evaluation_bad, 'Ruim' %>
						<span class="checkbox_span"><small>Sua conversa foi ruim e poderia ter sido melhor.</small></span>				
					</td>
				</tr>

				<tr>
					<td class="label">Descri&ccedil;&atilde;o</td>
					<td>
						<%= f.text_area :description, :cols => 45, :rows => 2 %>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" class="inputsubmit">
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->
	<% end %>
</div>