<% if @contact.errors.any? %>
<div id="error_explanation">	
	<ul>
		<% @contact.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>


<div class="clear"></div>

<%= form_for @contact, :html => { :multipart => true }  do |f| %>
	<div class="editor_area">
		<div id="contact_editor_label" class="editor_label">
			<div class="alignleft">Nome e Telefone</div>
			<div class="alignright">
				<a id="show_contact_table" style="display: none">editar</a>
				<a id="hide_contact_table" style="">ocultar</a>
			</div>
		</div>	
	
		<table id="contact_editor_table" class="editor_table" style="">
			<tbody>
				<tr>
					<td class="label">Foto</td>
					<td><a class="avatar" href="#"><%= image_tag @contact.avatar.url(:thumb), :alt => @contact.name %></a></td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>												
						<%= f.file_field :avatar %>
						<span class="checkbox_span"><small>Tamanho máximo de 10Mb.  JPG, GIF, PNG.</small></span>
					</td>
				</tr>
				<tr>
					<td class="label">Nome</td>
					<td><%= f.text_field :name, :size => 30 %></td>
				</tr>
				<tr>
					<td class="label">E-mail</td>
					<td><%= f.text_field :email, :size => 30 %></td>
				</tr>
				<tr>
					<td class="label">Twitter</td>
					<td><strong>http://twitter.com/ &nbsp;</strong><%= f.text_field :twitter, :size => 15 %></td>
				</tr>
				<tr>
					<td class="label">Rede Social</td>
					<td>
						<%= f.text_field :social_network_url, :size => 30 %>
						<span class="checkbox_span"><small>Sugestão: Copie e cole o link do perfil no Facebook, Orkut, entre outros.</small></span>						
					</td>
				</tr>
				<tr>
					<td class="label">Endereço</td>
					<td><%= f.text_area :address, :cols => 45, :rows => 2 %></td>
				</tr>
				<tr>
					<td class="label">Aniversário</td>
					<td><%= f.date_select :date_of_birth, :discard_year => true, :order => [:day, :month], :include_blank => true %></td>
				</tr>
				<tr>
					<td class="label">Telefone</td>
					<td><%= f.text_field :telephone, :size => 30 %></td>
				</tr>										
				<tr>
					<td class="label">Celular</td>
					<td>
						<%= f.text_field :mobile_phone, :size => 30 %>
						<span class="checkbox_span"><small>Sugestão: Adicione também nome da operadora ao lado do número com o DDD.</small></span>
					</td>
				</tr>
				<tr>
					<td class="label">Anfitri&atilde;</td>
					<td><%= f.text_field :hostess, :size => 30 %></td>
				</tr>									
				<tr>
					<td class="label">Anota&ccedil;&otilde;es</td>
					<td><%= f.text_area :notes, :cols => 45, :rows => 2 %></td>
				</tr>								
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" 	id="contact_submit" class="inputsubmit">
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->
		
		<div id="contact_editor_desc" class="clear" style="display: none">			
			<div class="alignleft">Nome</div>
			<div class="alignright"><%= @contact.name %></div>
			<div class="clear"></div>
			<% if @contact.birthday %>
			<div class="alignleft">Próximo Aniversário</div>
			<div class="alignright"><%= l(@contact.birthday, :format => '%A, %d de %B') %></div>
			<div class="clear"></div>
			<% end %>			
			<% if not @contact.email.blank? %>
			<div class="alignleft">E-Mail</div>
			<div class="alignright"><%= @contact.email %></div>
			<div class="clear"></div>
			<% end %>
			<% if not @contact.twitter.blank? %>
			<div class="alignleft">Twitter</div>
			<div class="alignright"><a href="http://twitter.com/<%= @contact.twitter %>" target="_blank">@<%= @contact.twitter %></a></div>
			<div class="clear"></div>
			<% end %>
			<% if not @contact.twitter.blank? %>
			<div class="alignleft">Rede Social</div>
			<div class="alignright"><a href="<%= @contact.social_network_url %>" target="_blank"><%= @contact.social_network_url %></a></div>
			<div class="clear"></div>
			<% end %>
			<% if not @contact.telephone.blank? %>
			<div class="alignleft">Telefone</div>
			<div class="alignright"><%= @contact.telephone %></div>
			<div class="clear"></div>
			<% end %>
			<% if not @contact.mobile_phone.blank? %>
			<div class="alignleft">Celular</div>
			<div class="alignright"><%= @contact.mobile_phone %></div>
			<div class="clear"></div>
			<% end %>
			<% if not @contact.hostess.blank? %>
			<div class="alignleft">Anfitri&atilde;</div>
			<div class="alignright"><%= @contact.hostess %></div>
			<div class="clear"></div>
			<% end %>
		</div>
		<!-- Fim do Formulario Perfil do Cliente -->
	
		<div class="clear"></div>		
	</div>
	
	<% @contact.contact_detail ||= ContactDetail.new %>	
	<%= f.fields_for :contact_detail do |cd_f| %>

	<div class="editor_area">
		<div id="contact_detail_editor_label" class="editor_label">
			<div class="alignleft">Descri&ccedil;&atilde;o da Pele</div>
			<div class="alignright">
				<a id="show_contact_detail_table" style="">editar</a>
				<a id="hide_contact_detail_table" style="display: none">ocultar</a>
			</div>
		</div>
		
		
		<table id="contact_detail_editor_table" class="editor_table" style="display: none;">
			<tbody>								
				<tr>
					<td class="label">Tipo de Pele</td>
					<td>
						<%= cd_f.radio_button :skin_type, 'dry' %>
						<%= cd_f.label :skin_type_dry, 'Seca / Muito Seca' %>
						<span class="checkbox_span"><small>Em todo rosto.</small></span>										
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.radio_button :skin_type, 'normal' %>
						<%= cd_f.label :skin_type_normal, 'Normal' %>
						<span class="checkbox_span"><small>Nem muito seca, nem muito oleosa.</small></span>
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.radio_button :skin_type, 'mixed' %>
						<%= cd_f.label :skin_type_mixed, 'Mista' %>
						<span class="checkbox_span"><small>Brilho na testa e nariz - zona "T".</small></span>
					</td>
				</tr>								
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.radio_button :skin_type, 'oily' %>
						<%= cd_f.label :skin_type_oily, 'Oleosa' %>
						<span class="checkbox_span"><small>Brilho em todo rosto.</small></span>
					</td>
				</tr>
				<tr>
					<td class="label">Tom de Pele</td>
					<td>
						<%= cd_f.radio_button :skin_tone, 'ivory' %>
						<%= cd_f.label :skin_tone_ivory, 'Claro' %>
						<span class="checkbox_span"><small>Ivory</small></span>
					</td>
				</tr>										
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.radio_button :skin_tone, 'beige' %>
						<%= cd_f.label :skin_tone_beige, 'Moreno' %>
						<span class="checkbox_span"><small>Beige</small></span>
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.radio_button :skin_tone, 'bronze' %>
						<%= cd_f.label :skin_tone_bronze, 'Escuro' %>
						<span class="checkbox_span"><small>Bronze</small></span>
					</td>
				</tr>				
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" 	id="contact_submit" class="inputsubmit">
							<!--							
							<% if @contact.persisted? %>
							&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to t("actions.destroy"), @contact, :confirm => t("notice_messages.confirmation"), :method => :delete %> 
							<% end %>
							-->
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->

		<div id="contact_detail_editor_desc" class="clear" style="">
			<div class="alignleft">Tipo de Pele</div>
			<div class="alignright"><%= @contact.contact_detail.skin_type.humanize %></div>
			<div class="clear"></div>
			<div class="alignleft">Tom da Pele</div>
			<div class="alignright"><%= @contact.contact_detail.skin_tone.humanize %></div>
		</div>
		<!-- Fim do Formulario Descricao da Pele -->
	
		<div class="clear"></div>		
	</div>
	
	
	<div class="editor_area">
		<div id="contact_quiz_editor_label" class="editor_label">
			<div class="alignleft">&Aacute;rea de Interesse</div>
			<div class="alignright">
				<a id="show_contact_quiz_table" style="">editar</a>
				<a id="hide_contact_quiz_table" style="display: none">ocultar</a>
			</div>
		</div>
		
		
		<table id="contact_quiz_editor_table" class="editor_table" style="display: none;">
			<tbody>
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.check_box :has_interest_become_a_member %>
						<%= cd_f.label :has_interest_become_a_member, 'Futura Consultor(a)' %>
						<span class="checkbox_span"><small>Gostaria de se tornar consultor(a) ou demonstra interesse.</small></span>										
					</td>
				</tr>								
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.check_box :has_interest_aging_and_cellulite %>
						<%= cd_f.label :has_interest_aging_and_cellulite, 'Evelhecimento, medidas e celulite' %>
						<span class="checkbox_span"><small>Combater o envelhecimento da pele do corpo, reduzir medidas e combater celulite.</small></span>										
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.check_box :has_interest_appearance_and_staining %>
						<%= cd_f.label :has_interest_appearance_and_staining, 'Aparência de manchas' %>
						<span class="checkbox_span"><small>Minimizar a aparência de manchas do rosto, obtendo uma pele com um tom uniforme.</small></span>
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.check_box :has_interest_aging_and_expression_line %>
						<%= cd_f.label :has_interest_aging_and_expression_line, 'Envelhecimento e linhas de expressão' %>
						<span class="checkbox_span"><small>Combater o envelhecimento da pele e minimizar as linhas de expressãp, ajudando a melhorar a firmeza e a textura da pele diariamente.</small></span>
					</td>
				</tr>								
				<tr>
					<td class="label"></td>
					<td>
						<%= cd_f.check_box :has_interest_fine_wrinkle %>
						<%= cd_f.label :has_interest_fine_wrinkle, 'Combater as linhas finas' %>
						<span class="checkbox_span"><small>Combater as linhas finas, deixar os poros menos vis&iacute;veis e revelar uma pele incrivelmente macia</small></span>
					</td>
				</tr>				
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<div class="buttons_left">													
							<input type="submit" value="Salvar" name="commit" 	id="contact_submit" class="inputsubmit">
							<!--							
							<% if @contact.persisted? %>
							&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to t("actions.destroy"), @contact, :confirm => t("notice_messages.confirmation"), :method => :delete %> 
							<% end %>
							-->
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
		<!-- end table -->
		
		<div id="contact_quiz_editor_desc" class="clear" style="">	
			<% if @contact.contact_detail.has_interest_become_a_member %>		
			<div class="alignleft"><b>Futura Consultor(a)</b></div>
			<div class="alignright"><b><%= t(@contact.contact_detail.has_interest_become_a_member).humanize  %></b></div>
			<div class="clear"></div>
			<% end %>
			<% if @contact.contact_detail.has_interest_aging_and_cellulite %>		
			<div class="alignleft">Evelhecimento, medidas e celulite</div>
			<div class="alignright"><%= t(@contact.contact_detail.has_interest_aging_and_cellulite).humanize  %></div>
			<div class="clear"></div>
			<% end %>
			<% if @contact.contact_detail.has_interest_appearance_and_staining %>		
			<div class="alignleft">Aparência de manchas</div>
			<div class="alignright"><%= t(@contact.contact_detail.has_interest_appearance_and_staining).humanize %></div>
			<div class="clear"></div>
			<% end %>
			<% if @contact.contact_detail.has_interest_aging_and_expression_line %>		
			<div class="alignleft">Envelhecimento e linhas de expressão</div>
			<div class="alignright"><%= t(@contact.contact_detail.has_interest_aging_and_expression_line).humanize %></div>
			<div class="clear"></div>
			<% end %>
			<% if @contact.contact_detail.has_interest_fine_wrinkle %>		
			<div class="alignleft">Combater as linhas finas</div>
			<div class="alignright"><%= t(@contact.contact_detail.has_interest_fine_wrinkle).humanize %></div>
			<% end %>
			
			<% 
				if not ( @contact.contact_detail.has_interest_become_a_member || 
				@contact.contact_detail.has_interest_aging_and_cellulite || 
				@contact.contact_detail.has_interest_appearance_and_staining || 
				@contact.contact_detail.has_interest_aging_and_expression_line || 
				@contact.contact_detail.has_interest_fine_wrinkle )
			%>
			<div class="alignleft" style="color: #808080;">Nenhum interesse marcado.</div>
			<div class="clear"></div>
			<% end %>
		</div>
		<!-- Fim do Formulario Descricao da Pele -->
	
		<div class="clear"></div>		
	</div>
	<% end %>
	
<% end %>

<%= javascript_include_tag 'views/contacts/form' %>
