<h2>
	Contato
	<em class="heading_description">Ficha de Perfil do Cliente</em>
</h2>


<div style="display: block; border-style: solid;">
	<a style="margin-right: 10px; float: left;">
		<%= image_tag @contact.avatar.url(:thumb), :alt => @contact.name, 
		:style => "display: block; background-color: #FFFFFF; border: 1px solid #B2B2B2; padding: 2px;"%>

	</a>
	<div style="text-align: right; margin-top: 14px; padding-left: 12px; float: right;">		
		<a href="<%= edit_contact_path(@contact) %>" class="button">
			<span>Editar</span>
		</a>			
	</div>
	<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
		<h3 style="color: #333333; margin-bottom: 4px;">
			<%= @contact.name %>
		</h3>
		<span style="color: #333333;" >
			<%= @contact.email %>&nbsp;
		</span>		
		<div style="color: #808080; margin-top: 12px;">								
			<%= "#{@contact.telephone} #{( @contact.telephone != '' && @contact.mobile_phone != '' ? '  |  ' : '' )} #{@contact.mobile_phone}" %>&nbsp;								
		</div>			
		<div style="color: #808080; font-size: 11px;">
			<%= @contact.address %>&nbsp;
		</div>							
  </div>
</div>
<div class="clear"></div>
<br />

<div class="editor_area">
	<div id="contact_editor_label" class="editor_label">
		<div class="alignleft">Anivers&aacute;rio e Anota&ccedil;&otilde;es</div>	
	</div>	
	
	<div id="contact_editor_desc" class="clear" style="">					
		<% if @contact.birthday %>
		<div class="alignleft">Próximo Anivers&aacute;rio</div>
		<div class="alignright"><strong><%= l(@contact.birthday, :format => '%A, %d de %B') %></strong></div>
		<div class="clear"></div>
		<% else %>		
		<div class="alignleft" style="color: #808080;">Est&aacute; faltando a data de anivers&aacute;rio.</div>
		<div class="clear"></div>		
		<% end %>					
		<% if not @contact.hostess.blank? %>
		<div class="alignleft">Anfitri&atilde;</div>
		<div class="alignright"><%= @contact.hostess %></div>
		<div class="clear"></div>
		<% end %>
		<% if not @contact.twitter.blank? %>
		<div class="alignleft">Twitter</div>
		<div class="alignright"><a href="http://twitter.com/<%= @contact.twitter %>" target="_blank">@<%= @contact.twitter %></a></div>
		<div class="clear"></div>
		<% end %>
		<% if not @contact.twitter.blank? %>
		<div class="alignleft">Rede Social</div>
		<div class="alignright"><a href="<%= @contact.social_network_url %>" target="_blank"><%= @contact.social_network_url %></a></div>
		<div class="clear"></div>
		<% end %>
		<% if not @contact.notes.blank? %>			
		<div class="alignleft" style="color: #808080; font-size: 12px;"><%= simple_format(@contact.notes, :style => "margin-bottom: 0px;") %></div>
		<% end %>
	</div>

	<div class="clear"></div>		
</div>

<!-- contact calls -->
<div class="editor_area">
	<div id="contact_calls_editor_label" class="editor_label">
		<div class="alignleft">Ligações</div>
		<% if @contact_calls.size > 0 %>
		<div class="alignright">
			<a id="show_contact_calls_table" style="display: <%= 'none' if params[:contact_calls] == 'all' %>" href="?contact_calls=all">ver todas</a>
			<a id="hide_contact_calls_table" style="display: <%= 'none' if params[:contact_calls] != 'all' %>" href="?contact_calls=last">somente as últimas</a>
		</div>	
		<% end %>
	</div>	
	
	<div id="contact_call_editor_desc" class="clear" style="">					
		<% if @contact_calls.size > 0 %>
			<% @contact_calls.each do |call| %>
				<div class="alignleft"><%= link_to call.topic, contact_call_path(call)  %></div>
				<div class="alignright">
						<a href="<%= contact_call_path(call) %>" style="margin: 2px 10px 0 0; float: left;">
							<img src="/images/basic/telephone_16.png" style="display: block;">
						</a>
						<%= "#{l(call.called_at, :format => :long)} (#{call.duraction}min)" %>
				</div>
				<div class="clear"></div>
				<div class="alignleft" style="color: #808080; font-size: 12px;"><%= simple_format(call.description, :style => "margin-bottom: 0px;") %></div>
				
				<div class="clear"></div>
			<% end %>			
		<% else %>
		<div class="alignleft" style="color: #808080;">Nenhuma ligação realizada.</div>
		<div class="clear"></div>
		<% end %>		
		<div class="alignright" style="margin-top: 20px;"><a id="add-contact-call" href="#" class="button_info">Ligar para Cliente</a></div>
		<div class="clear"></div>			
	</div>
	
	<%= render :partial => "contact_call_form"%>
	
	<div class="clear"></div>		
</div>
<!-- end of contact calls -->

<!-- order -->
<div class="editor_area">
	<div id="orders_editor_label" class="editor_label">
		<div class="alignleft">Pedidos</div>
		<% if @orders.size > 0 %>
		<div class="alignright">
			<a id="show_orders_table" style="display: <%= 'none' if params[:orders] == 'all' %>" href="?orders=all">ver todos</a>
			<a id="hide_orders_table" style="display: <%= 'none' if params[:orders] != 'all' %>" href="?orders=last">somente os últimos</a>
		</div>	
		<% end %>
	</div>	
	
	<div id="order_editor_desc" class="clear" style="">					
		<% if @orders.size > 0 %>
			<% @orders.each do |order| %>
				<div class="alignleft"><%= link_to "#{order.order_items.size} item(s)", order_path(order)  %></div>
				<div class="alignright">
						<a href="<%= order_path(order) %>" style="margin: 2px 10px 0 0; float: left;">
							<img src="/images/basic/present_16.png" style="display: block;">
						</a>
						<%= "#{l(order.ordered_at, :format => "%d de %B de %Y")}, #{number_to_currency(order.total_price)}" %>
				</div>
				<div class="clear"></div>
				
				<% order.order_items.each do |item| %>
				<div class="alignleft" style="color: #808080; font-size: 12px;"><%= item.name %></div>				
				<div class="clear"></div>
				<% end %>
				
				<div class="alignleft" style="color: #808080; font-size: 12px;"><%= simple_format(order.notes, :style => "margin-bottom: 0px;") %></div>				
				<div class="clear"></div>
			<% end %>			
		<% else %>
		<div class="alignleft" style="color: #808080;">Nenhum pedido realizado.</div>
		<div class="clear"></div>
		<% end %>		
		<div class="alignright" style="margin-top: 20px;">
			<%= link_to 'Adicionar pedido', new_order_path(:contact_id => @contact), :class => 'button_info' %>
		</div>
		<div class="clear"></div>			
	</div>	
	<div class="clear"></div>		
</div>
<!-- end of order calls -->


<div class="editor_area">
	<div id="contact_detail_editor_label" class="editor_label">
		<div class="alignleft">Descri&ccedil;&atilde;o da Pele</div>		
	</div>
	<div id="contact_detail_editor_desc" class="clear" style="">
		<div class="alignleft">Tipo de Pele</div>
		<div class="alignright"><%= @contact.contact_detail.skin_type.humanize %></div>
		<div class="clear"></div>
		<div class="alignleft">Tom da Pele</div>
		<div class="alignright"><%= @contact.contact_detail.skin_tone.humanize %></div>
	</div>
	<!-- Fim do Formulario Descricao da Pele -->

	<div class="clear"></div>		
</div>


<div class="editor_area">
	<div id="contact_quiz_editor_label" class="editor_label">
		<div class="alignleft">&Aacute;rea de Interesse</div>	
	</div>
	
	<div id="contact_quiz_editor_desc" class="clear" style="">	
		<% if @contact.contact_detail.has_interest_become_a_member %>		
		<div class="alignleft"><b>Futura Consultor(a)</b></div>
		<div class="alignright"><b><%= t(@contact.contact_detail.has_interest_become_a_member).humanize  %></b></div>
		<div class="clear"></div>
		<% end %>
		<% if @contact.contact_detail.has_interest_aging_and_cellulite %>		
		<div class="alignleft">Evelhecimento, medidas e celulite</div>
		<div class="alignright"><%= t(@contact.contact_detail.has_interest_aging_and_cellulite).humanize  %></div>
		<div class="clear"></div>
		<% end %>
		<% if @contact.contact_detail.has_interest_appearance_and_staining %>		
		<div class="alignleft">Aparência de manchas</div>
		<div class="alignright"><%= t(@contact.contact_detail.has_interest_appearance_and_staining).humanize %></div>
		<div class="clear"></div>
		<% end %>
		<% if @contact.contact_detail.has_interest_aging_and_expression_line %>		
		<div class="alignleft">Envelhecimento e linhas de expressão</div>
		<div class="alignright"><%= t(@contact.contact_detail.has_interest_aging_and_expression_line).humanize %></div>
		<div class="clear"></div>
		<% end %>
		<% if @contact.contact_detail.has_interest_fine_wrinkle %>		
		<div class="alignleft">Combater as linhas finas</div>
		<div class="alignright"><%= t(@contact.contact_detail.has_interest_fine_wrinkle).humanize %></div>
		<% end %>
		<% 
			if not ( @contact.contact_detail.has_interest_become_a_member || 
			@contact.contact_detail.has_interest_aging_and_cellulite || 
			@contact.contact_detail.has_interest_appearance_and_staining || 
			@contact.contact_detail.has_interest_aging_and_expression_line || 
			@contact.contact_detail.has_interest_fine_wrinkle )
		%>
		<div class="alignleft" style="color: #808080;">Nenhum interesse marcado.</div>
		<div class="clear"></div>
		<% end %>
	</div>
	<!-- Fim do Formulario Descricao da Pele -->

	<div class="clear"></div>		
</div>


<br />


<div class="clear"></div>
<%= javascript_include_tag "views/contacts/show.js" %>
