<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @payment.order %>
</p>

<p>
  <b>Method:</b>
  <%= @payment.method %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Expected at:</b>
  <%= @payment.expected_at %>
</p>

<p>
  <b>Confirmation at:</b>
  <%= @payment.confirmation_at %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
