<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @order_item.order %>
</p>

<p>
  <b>Product:</b>
  <%= @order_item.product %>
</p>

<p>
  <b>Price:</b>
  <%= @order_item.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_item.quantity %>
</p>

<p>
  <b>Status:</b>
  <%= @order_item.status %>
</p>

<p>
  <b>Shipped at:</b>
  <%= @order_item.shipped_at %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
