<%= javascript_include_tag 'views/products/index' %>
<h2>
	Lista de Produtos
	<em class="heading_description">Produtos disponíveis para pedidos</em>
</h2>
<p>
	Depois de um grande trabalho de pesquisa nós temos o prazer de disponibilizar alguns dos seus produtos favoritos. Estes são regularmente atualizados com informações importantes como preço, descrição e fotos. Se você não encontrar seu produto basta criar um <a href="#">Pedido de Novo Produto</a>.
</p>

<%= form_tag products_path, :method => "get", :id => "products_search" do %>	
<div class="horizontal_list_selection">
	<%= hidden_field_tag :list, params[:list] %>
	
	<a href="/products" class="select_button left_selector right_selector <%= 'current_view' unless params[:list] == 'top' %>">Todos</a>		
	<!--
	<a href="/products?list=top" class="select_button center_selector <%= 'current_view' if params[:list] == 'top' %>">Mais vendidos</a>
	<a href="/products?list=new" class="select_button right_selector %>">Lan&ccedil;amentos</a>
	-->
	
	<div class="search">
		<div class="search_wrapper">
			<div class="search_icon"><img src="/images/basic/loupe.png" alt="Loupe"></div>			
			<%= text_field_tag :search, params[:search], :class =>  "search_field thin", :autocomplete => "off" %>
		</div>
		<div id="loading" class="hide" style="display: none;"><img src="/images/basic/loader.png?1302297477" alt="Loader"></div>
		<div class="clear"></div>	
	</div>
	<div class="clear"></div>
	
</div>
<% end %>


<div id="products">
	<%= render :partial => 'products' %>
</div>

<br />
<br />


