<h2>
	Produto
	<em class="heading_description">Informa&ccedil;&otilde;es do produto</em>
</h2>

<div style="display: block; border-style: solid;">
	<a style="margin-right: 10px; float: left;">
		<%= image_tag @product.attachment.url(:product), :alt => @product.name, 
		:style => "display: block; background-color: #FFFFFF; border: 1px solid #B2B2B2; padding: 2px; max-height:128px; max-width:128px;",
		:width => 128, :height => 128 %>
	</a>
	<div style="text-align: right; margin-top: 14px; padding-left: 12px; float: right;">		
		<% if current_user.super_user %>
		<a href="<%= edit_product_path(@product) %>" class="button">
			<span>Editar</span>
		</a>					
		<% end %>
	</div>
	<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
		<h3 style="color: #333333; margin-bottom: 4px;">
			<%= @product.name %>
		</h3>
		<span style="color: #808080; margin-top: 14px; margin-bottom: 4px;" >
			<%= @product.sku %>&nbsp;
		</span>			
		<div style="color: #333333; font-size: 32px; margin-top: 44px;">
			<strong><%= number_to_currency(@product.price) %></strong>&nbsp;
		</div>	
		<div style="color: #808080; font-size: 11px; margin-top: 4px; ">
			<% unless @product.description.blank? %>
			<%= @product.description %>&nbsp;
			<% else %>
			(sem descri&ccedil;&atilde;o)&nbsp;
			<% end %>
		</div>	
  </div>
</div>
<div class="clear"></div>
<br />

<div class="editor_area">
	<div class="editor_label">
		<div class="alignleft">&Uacute;ltimos pedidos</div>	
	</div>	
	<div class="clear"></div>		
</div>
<div id="order_item_editor_desc" class="clear" style="">					
	<% if @order_items.size > 0 %>
		<% @order_items.each do |item| %>
			<div class="alignleft"><%= link_to item.order.order.contact.name, order_path(item.order)  %></div>
			<div class="alignright">
					<a href="<%= order_path(item.order) %>" style="margin: 2px 10px 0 0; float: left;">
						<img src="/images/basic/telephone_16.png" style="display: block;">
					</a>
					<%= "#{l(order_item.order.ordered_at, :format => :long)} (#{call.duraction}min)" %>
			</div>
			<div class="clear"></div>
			<div class="alignleft" style="color: #808080; font-size: 12px;">TODO:</div>
			
			<div class="clear"></div>
		<% end %>			
	<% else %>
	<div class="alignleft" style="color: #808080;">N&atilde;o houve pedidos deste produto.</div>
	<div class="clear"></div>
	<% end %>	
	<!-- TODO: Adicionar produto ao pedido -->
	<% if current_user.super_user %>	
	<div class="alignright" style="margin-top: 20px;">
		<%= link_to 'Adicionar pedido de compra', new_order_path(:product_id => @product, :type => 'in'), :class => 'button_info' %>
	</div>
	<div class="alignright" style="margin-top: 20px;">
		<%= link_to 'Adicionar pedido de venda', new_order_path(:product_id => @product, :type => 'out'), :class => 'button_info' %>
	</div>
	<% end %>	
	<div class="clear"></div>			
</div>

<div class="clear"></div>
<br />
