<div class="paginate">
	<div class="left">
		<% if @contact_calls %>
		<span><strong><%= @contact_calls.size %></strong> registro(s) encontrado(s).</span>
		<% end %>		
	</div>
	<div class="right"></div>
	<div class="clear"></div>
</div>

<form>	
	<% reference = nil %>	
	
	<table id="contact_calls" class="grid no_hand">
		<tbody>
		<% if @contact_calls.size > 0 %>
			<% @contact_calls.each do |contact_call| %>
			<% day_name = l(contact_call.called_at, :format => "%A") %>
			<% day_name = 'Hoje' if Time.zone.now.day == contact_call.called_at.day && Time.zone.now.month == contact_call.called_at.month && Time.zone.now.day == contact_call.called_at.day  %>
			
			<% if reference != day_name %>
			<tr>		
				<td>					
					<h3>
						<%= reference = day_name %>
					</h3>			
				</td>							
			</tr>			
			<% end %>
			
			<tr>	
				<td style="padding: 1em 0 1em 1em;">					
					<div style="display: block; border-style: solid;">
						<a href="<%= contact_call_path(contact_call) %>" style="margin-right: 10px; float: left;">
							<img src="/images/basic/telephone_32.png" style="display: block;">
						</a>
						<div style="text-align: right; margin-top: 14px; padding-left: 12px; float: right;">							
							<a href="<%= edit_contact_call_path(contact_call) %>" class="button_info" style="">
								<span>Editar</span>
							</a>								
						</div>						
						<div style="height: 32px; vertical-align: middle; display: table-cell; width: 10000px;">
							<span style="color: #333333;">
								<%= link_to contact_call.contact.name, contact_path(contact_call.contact) %>
							</span>
							<div style="color: #808080; font-size: 11px;">								
								<%= l(contact_call.called_at, :format => :long).strip() %>								
							</div>
							<div style="color: #808080; font-size: 11px;">
								<%= link_to contact_call.topic, edit_contact_call_path(contact_call) %>
								<%= simple_format(contact_call.description, :style => "margin-bottom: 0px;") %>
							</div>							
					  </div>
					</div>			
				</td>														
			</tr>
			<% end %>
		<% else %>			
			<tr>
				<td style="padding: 1em 0 1em 1em; width: 603px;"> 
					<div style="display: block;">Nenhum resultado encontrado para a sua consulta.</div>
				</td>					
			</tr>
		<% end %>
		</tbody>
	</table>
</form>

<div class="paginate bottom">
	<div class="left">
		<a class="back_to_top" href="#content">
			<div class="to_top_icon"></div>
			<strong>voltar ao topo</strong>
			<div class="clear"></div>
		</a>
	</div>
	<div class="right">
		<%= will_paginate(@contact_calls, :previous_label => "&#171; #{t('actions.previous')}", :next_label => "#{t('actions.next')} &#187;") %>
	</div>
	<div class="clear"></div>
</div>
